beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
h11==0.16.0
idna==3.10
numpy==2.3.1
pandas==2.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.31.0         # ✅ downgraded for fyers-apiv3 compatibility
schedule==1.2.2
six==1.17.0
soupsieve==2.7
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
fastapi==0.111.0
uvicorn==0.34.3
fyers-apiv3
python-dateutil==2.9.0.post0
python-dotenv


